# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
.venv/
venv/
env/
ENV/

# Logs
logs/
*.log

# Env / secrets
.env
.env.*
*.env

# Databases / local 
*.sqlite3

# OS / IDE
.DS_Store
.vscode/
.idea/

# Build / dist
build/
dist/
*.egg-info/

# Text
anotações.txt
ruff_report.txt


# Ruff Cache
.ruff_cache

# BackUp drawio
.$DER Lucro_Admin.drawio.bkp

#database
database.db

#testrapido
testrapido.py

pathlib_tests.py
